html {
    /* height: 100%; */
}

html, body {
    height: 100%;
    color: antiquewhite;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    max-width: 100%;
    overflow-x: hidden;
}

body {
    /* height: 100%; */
    margin: 0px;
    background-image: url("./images/earth-space-large.jpg") ;
    background-size:cover;
    /* background-position: center; */
    background-attachment: fixed;
}


.page-wrap {
    background-color: black;
    animation: bg-transition 8s forwards;
    display: grid;
    justify-content: center;
    text-align: center;
    /* position: relative; */
    /* height: 100%; */
    
}
@keyframes bg-transition {
    from {
        background-color: rgb(0, 0, 0);
    }
    to {
        background-color: rgb(0, 0, 0, 0);
    }   
}

header {
    margin: 4vh 0;;
    /* height: fit-content; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    z-index: 1;
    animation: slidein .9s forwards ease;
}
    @keyframes slidein {
        from {
            transform: translateX(100%);      
        }
        to {
            transform: translateX(0%);
        }
    }
    
h1 {
    /* height: fit-content; */
    margin: 0;
    border: 1px solid white;
    border-style: groove;
    padding: 4px 20px;
    background-color: black;
    font-size: 2.2rem;
}

.intro-text {
    font-size: 1.3rem;
}

.intro-text>h2 {
    animation: who-am-i 3s forwards;
    margin-bottom: 7vh;
}

@keyframes who-am-i {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
        transform: scale(1.4);
    }
    
}

#full-name, 
#alex {
    /* font-size: clamp(16px, 1.3em,50px); */
    font-size: 1.4em;
    padding-left: 0.3vw;
}

img {
    border: 4px solid rgb(238, 235, 235);
    border-radius: 5px;
    box-shadow: -7px 7px 8px rgb(0, 0, 0);
    height: auto;
    width: clamp(10vw, 50%, 30vw);

    margin: 1vw;

    animation: img-trans 5s forwards;
}

@keyframes img-trans {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
    
}

.main-text {
    width: clamp(400px, 50%, 1200px);
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 1.2em;
}


a {
    color: antiquewhite;
    text-decoration: underline;
}

@media (max-width: 500px){
    .main-text {
        width: 90%;
    }

    img {
        width: 70%;
        object-fit: fill;
    }
    body {
        background-image: url('./images/olena-sergienko-Cq5NaI0yKBE-unsplash.jpg');
        background-attachment: unset;
        background-repeat: repeat;
        background-size: contain;
    }
}








