html {

}

body {
    padding: 1vw;
    margin: 0;
    border: 1px solid red;

}

.page-wrap {
    display: grid;
    justify-content: center;
    text-align: center;

}

h1,h2 {
    /* text-align: center; */
}

picture {
    border: 1px solid blue;
    /* object-fit: fill; */
    /* display: flex; */
    /* justify-content: center; */
}

img {
    
    height: auto;
    /* min-width: 80vw; */
    width: 100%;
    margin: 1vw;
}

@media (max-width: 500px){
    img {
        width: 80%;
        object-fit: fill;
    }
}